body{
  margin: 0 0 0 0;
  font-family: 'Comfortaa', cursive;
}

.form-container{
  display: flex;
  justify-content: center;
  background-color: #D0F0CE;
  
}

input{
  margin: 10px;
  font-size: 18px;
}

.button-container{
  display: flex;
  justify-content: center;
  margin: 20px;

}
.button{
  font-size: 20px;
}

.title-container, .desc-container, .image-container{
  display: flex;
  justify-content: center;
}

svg{
  display: block;
}

.box{
  border: solid black;
}

button{
  margin: 10px;
  background-color: white;
  border-color: green;
  text-decoration: none;
}

.popup{
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100vh; */
  background-color: #D0F0CE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner{
  position: relative;
  padding: 30px;
  width: 100%;
  max-width: 640px;
  background-color: aliceblue;
}

.popup-inner .save-button{
  position: absolute;
  top: 16px;
  right: 16px;
}