body{
  margin: 0 0 0 0;
  font-family: 'Comfortaa', cursive;
}

.form-container{
  display: flex;
  justify-content: center;
  background-color: #D0F0CE;
  
}

input{
  margin: 10px;
  font-size: 18px;
}

.button-container{
  display: flex;
  justify-content: center;
  margin: 20px;

}
.button{
  font-size: 20px;
}

.title-container, .desc-container{
  display: flex;
  justify-content: center;
}

svg{
  display: block;
}